
@font-face {
  font-family: "Passio";
  src: url("assets/Passio-Graphis.otf") format("opentype");
}

.navbar{
  font-weight:bold;
  margin-top: 10vh;
  text-decoration: none;
  font-family: 'Passio';
  height:2vh;
  background-color: rgba(0,0,0,1);
  color: white;
  align-items: center;
  justify-content: space-evenly;
  a{
    color: white;
  }

}

.body{
  width: 55vw;
  height: 50vh;
  margin: auto;
  border: 5px solid black;
  margin-top: 20vh;

}
